*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1199px;
    margin: auto;
}
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__content a {
    text-decoration: none;
}
.header__content li {
    padding: 55px 15px;
    list-style: none;
}
.header__content li a {
    color: #070120;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    transition: 0.5s;
}
.header__content i::before{
    font-size: 8px;
    margin-top: -3px;
    vertical-align: middle;
}

.header__content span {
    display: inline-block;

}
nav {
    display: flex;
    align-items: center;
}
nav span:hover {
    animation: upToDown 0.3s;

} 

nav ul {
    display: flex;
    margin-right: 30px;
}
nav li a:hover {
color: #f55f8d;
}
.btn-gradient {
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: 0.5s;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;
    line-height: 1.2;

}

.btn-gradient:hover {
    background-position: right center;
    text-decoration: none;
}

/* Star carousel  */
.carousel {
    background-image: url(./Samar-20220424T061314Z-001/Samar/pic2.png);
    background-size: 100%;
    background-position: top;
    padding: 60px;
    overflow: hidden;
}
.container {
    max-width: 1199px;
    margin: auto;
}
.carousel__content {
    display: flex;
    align-items: center;
}
.carousel__left {
    width: 60%;
}
.title p {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #f55f8d;
}
.title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}
.carousel__article p {
    font-size: 18px;
    margin-bottom: 15px;
    width: 80%;
}
.carousel__article ul {
    margin-bottom: 20px;
    list-style-type: none;
}
.carousel__article li {
    padding: 10px 5px 10px 0;
    font-size: 20px;
}
.carousel__article i {
    width: 35px;
    height: 35px;
    color: white;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    border-radius: 35px;
    background-size: 200%;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
}

.carousel__right {
    width: 40%;
}
.carousel__banner{
    width: 570px;
    margin-left: 50px;
}
.carousel__banner img {
    max-width: 100%;
    display: block;
}
/* end carousel */
.services {
    background-image: url(./Samar-20220424T061314Z-001/Samar/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
}
.container {
    max-width: 1199px;
    padding-top: 0px;
    margin: auto;
}
.services__contant {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
    padding: 30px;
}
.services__item {
    padding: 30px 45px;
    background-color: #fff;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    transform: translateY(0);
    transition: 0.8s;
}
.services__item:hover {
    transform: translateY(-30px);
}
.services__item img {
    width: 230px;
}
.services__item h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
    margin: 15px 0;
}
.services__item p {
    color: #636363;
    font-size: 17px;
}
/* end .services */
.aboutUs {
    background-image: url(./Samar-20220424T061314Z-001/Samar/bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
}
.aboutUs__content {
    max-width: 1199px;
    margin: auto;
    width: 80%;
    padding: 100px 0;

    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.aboutUs__left {
    width: 60%;
    position: absolute;
    left: -17%;
}
.aboutUs__left img {
    width: 100%;
    border-radius: 0 100px 100px 0;
}
.aboutUs__right {
    width: 50%;
}
.aboutUs__right ul {
    list-style-type: none;
    margin: 25px 0;
}
.aboutUs__right ul li {
    font-size: 18px;
    color: #636363;
    vertical-align: middle;
    margin-right: 10px;
}
.aboutUs__right ul i {
    color: #f55f8d;
}
/* end about */
.number {
    background-image: url(./Samar-20220424T061314Z-001/Samar/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0 50px;
    text-align: center;
}
.number__container {
    max-width: 1199px;
    margin: auto;

    
}
.number__contant {

    display: flex;
    justify-content: space-around;
   
}
.number__item {
    width: 25%;
}   
.number__item i {
    font-size: 45px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
}
.number__item p:first-of-type {
    font-size: 65px;
    font-weight: 800;
    color: #f55f8d;
    line-height: 1;
}
.number__item p:last-of-type {
    font-size: 18px;
    color: #262626;
}
/* end number  */
.features {
    background-image: url(./Samar-20220424T061314Z-001/Samar/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 0;
    overflow: hidden;
}
.features__content {
    display: flex;
}
.features__left {
    width: 50%;
}
.features__title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    color: #f55f8d;
}
.features__title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}
div {
    display: block;
}
.features__item {
    padding: 0 50px 30px 0;
}
.features__item:nth-of-type(2) {
    padding: 0 0 30px 50px;
}
.features__item div {
    padding-left: 25px;
    z-index: 1;
    transition: 1s;
}
.features__item h3 {
    font-weight: 800;
    color: #262626;
    font-size: 1.5rem;
    transition: 1s;
}
.features__bg {
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.features__bg p {
    color: #636363;
}

.features__bg::after {
    content: "";
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s;
    
}
.features__bg:hover::after {
opacity: 1;
}

.features__bg i {
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
    z-index: 1;
    transition: 1s;
}
.features__bg:hover i {
    color: #fff;
}

 .features__right {
     width: 50%;
    
 }   
 .features__banner {
     margin-right: -80px;
 }
 .features__banner img {
    max-width: 100%;
    animation: move2 5s infinite;
 }
.features__bg:hover div,.features__bg:hover h3,.features__bg:hover p {
    color: #fff;
}
/* end features */
.portfolio {
    background-image: url(../img/bg17.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}
.section-inner {
    padding-top: 100px;
}
.portfolio__content {
    display: grid;
    grid-template-columns: repeat(2,1fr) 1.5fr;
    gap: 35px;
    
}
.portfolio__item1 {
    grid-column: 1/span 2;
}
.portfolio__item5 {
    grid-column: 1/span 2;
}
.portfolio__item6 {
    grid-column: 3/4;
    grid-row: 2/4;
}
.portfolio__item{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.portfolio__item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
    transition: 0.75s;
}
.portfolio__item:hover::before {
    left: 125%;
}
.portfolio__item img {
    width: 100%;
    height: 100%;
}
.portfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    transition: 0.75s;
}
.portfolio__item:hover .portfolio__overlay {
    opacity: 1;
}
.portfolio__icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px,-20px);
    transition: 0.75s;
}
.portfolio__item:hover .portfolio__icon{
    transform: translate(0);
}
.portfolio__icon a {
    cursor: pointer;
}
.portfolio__icon i {
    color: #fff;
}
.portfolio__text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transform: translateY(150px);
    transition: 0.75s;
}
.portfolio__item:hover .portfolio__text {
    transform: translate(0);
}
.portfolio__text h3 {
    font-size: 22px;
    font-weight: 800;
    color: #fff
}
.portfolio__text p {
    color: #fff;
    opacity: 0.7
}
/* end .portfolio */
.plan {
    background-image: url(./Samar-20220424T061314Z-001/Samar/bg16.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.plan .title {
    padding-top: 120px;
}
.plan__content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 40px;
    gap: 30px
}
.plan__item {
    padding: 35px 60px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 1px 0 50px rgb(0,0,0,.1);
    border-image: 100 round;
    transition: 0.5s
}
.plan__item:hover {
    border-image: url(./Samar-20220424T061314Z-001/Samar/br.png) 1 round;
}
.plan__item img {
    width: 125px;
}

.plan__item h3 {
    font-weight: 700;
    color: #262626;
    font-size: 2rem;
}
.plan__item p,.plan__item li {
    font-size: 18px;
    color: #262626;
    font-weight: 600
}
.plan__item li {
    font-weight: 400;
    padding: 5px 0;
    
}
.plan__item ul {
    text-align: left;
    padding: 15px 0;
    border-top: 1px solid #e1e1f0;
    list-style-type: none;
}
.plan__item i {
    font-size: 12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #feeff3;
    color: #f55f8d;
    border-radius: 100%;
    margin-right: 15px

}
.plan__item span {
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}
/* end plan */

.testimonial {
    text-align: center;
    background-image: url(./Samar-20220424T061314Z-001/Samar/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat
}

.testimonial__thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
    overflow: hidden;
}
.testimonial__thumbs .testimonial__pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 5px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d
}
.testimonial__thumbs::after,.testimonial__thumbs::before {
    content: '';
    width: 30px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
}
.testimonial__thumbs::before {
    left: 0;
    background: linear-gradient(to right,#fff 0,rgba(255,255,255,0) 100%);
}
.testimonial__thumbs::after {
    left: 0;
    background: linear-gradient(to left,#fff 0,rgba(255,255,255,0) 100%);
}
.testimonial__pic .shape-bx {
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    opacity: 0;
    transition: 1s;
    background-color: #f55f8d;
}
.swiper-slide-thumb-active .testimonial__pic .shape-bx {
    opacity: 1;
}
.testimonial__pic .shape-bx::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(./Samar-20220424T061314Z-001/Samar/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition: 1s;
}
.testimonial__pic::after,.testimonial__pic::before {
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.testimonial__pic::before {
    height: 15px;
    width: 15px;
    bottom: 30px;
}
.testimonial__pic::after {
    height: 10px;
    width: 10px;
    bottom: 0;
}

.swiper-slide-thumb-active .testimonial__pic::after,.swiper-slide-thumb-active .testimonial__pic::before {
    opacity: 1;
}
.testimonial__comment {
    min-height: 300px;
    width: 100%;

}

.testimonial__comment .swiper-wrapper {
    padding-bottom: 20px;
}

.testimonial__thumbs .testimonial__pic {
    padding: 30px 0 0;
    transition: 0.5s;
}

.testimonial__text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    position: relative;
}

.testimonial__text i {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(-180deg);
}
.testimonial__text .testimonial__position {
    color: #f55f8d;
}
.testimonial__text p {
    font-size: 18px;
    font-weight: 400;
    color: #636363;
    padding: 0 15px 15px;
}
.testimonial__name {
    font-size: 22px;
    font-weight: 800;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
}

.testimonial__position {
    font-size: 15px;
    color: #f55f8d;
    margin-bottom: 20px;
    padding: 0;
}
.swiper-pagination-bullets.swiper-pagination-horizontal,.testimonial .swiper-horizontal>.swiper-pagination-bullets {
    bottom: auto;
}

.swiper-pagination-bullet-active {
    background: #f55f8d;
}
/* end .testimonial */
.blog {
    background-image: url(./Samar-20220424T061314Z-001/Samar/bg16.png);
    background-size: cover;
   padding-bottom: 50px;
    background-position: top center;
    text-align: center;
}
.blog__item {
    text-align: left;
    background: rgba(245,95,141,.1);
    border-radius: 8px;
}
.blog__header {
    position: relative;
}
.blog__header img {
    width: 100%;
    border-radius: 8px;
}
.blog__header p{
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: -20px;
    left: 15px
}
.blog__body {
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px
}
.blog__body h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626
}
.blog__footer {
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0,0,0,.05)
}
.blog__footer i {
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub
}
.blog__footer p:first-of-type {
    margin-right: 20px;
}
.blog__footer p:first-of-type span {
    color: #f55f8d;
}
/* end blog */
.blog {
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px
}

.blog__item {
    text-align: left;
    background: rgba(245,95,141,.1);
    border-radius: 8px
}

.blog__header {
    position: relative
}

.blog__header img {
    width: 100%;
    border-radius: 8px
}

.blog__header p {
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: -20px;
    left: 15px
}

.blog__body {
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px
}

.blog__body h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626
}

.blog__footer {
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0,0,0,.05)
}

.blog__footer i {
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub
}

.blog__footer p:first-of-type {
    margin-right: 20px
}

.blog__footer p:first-of-type span {
    color: #f55f8d
}

.footer {
    background-image: url(./Samar-20220424T061314Z-001/Samar/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
}

.footer::before {
    content: "";
    background-image: url(./Samar-20220424T061314Z-001/Samar/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.footer__top {
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    background-image: url(./Samar-20220424T061314Z-001/Samar/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
}


.footer__form,.footer__text {
    width: 50%;
}

.footer__text h2 {
    font-size: 28px;
    color: #262626;
}

.footer__form form {
    display: flex;
    border-radius: .5rem;
    box-shadow: 0 0 60px 0 rgb(0,0,0,.1);
}

.footer__form input {
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: .5rem 0 0 .5rem;
    border: 1px solid #fff;
    outline: 0;
    transition: 0.5s;
}

.footer__form input:focus,.footer__form input:hover {
    border-color: #f55f8d;
}

.footer__form button {
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: 0.5s;
    border-radius: 0 .5rem .5rem 0;
    color: #fff;
    cursor: pointer;
}

.footer__form button:hover {
    background-position: right center;
}

.footer__form button:hover i {
    animation: toLeftFromRight 0.5s forwards;
    display: inline-block;
}

.footer__bottom {
    display: flex;
    padding: 70px 0;
    position: relative;
}

.footer__item {
    width: 25%;
}

.footer__item h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}

.footer__item h3::after,.footer__item h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}

.footer__item h3::before {
    width: 15px;
}

.footer__item h3::after {
    width: 45px;
    left: 20px;
}

.footer__contact li {
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.footer__contact i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    display: block;
    border-radius: 50px;
}

.footer__item li {
    padding: .5rem 0;
}

.footer__item a {
    color: #636363;
    font-size: 16px;
    transition: 0.5s;
}

.footer__item i {
    font-weight: 700;
    margin-right: 10px;
    
}
.footer__item ul {
    list-style-type: none;
}

.footer__item a:hover {
    color: #fff;
}

.footer__copyright {
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__left span {
    color: #f55f8d
}

.footer__copyright a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(255,255,255,.1);
    transition: 0.5s;
}

.footer__copyright a:hover {
    background: #f55f8d
}

.backToTop {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}


@keyframes toLeftFromRight {
    49% {
        transform: translateY(100%)
    }

    50% {
        opacity: 0;
        transform: translateY(-100%)
    }

    51% {
        opacity: 1
    }
}


@keyframes upToDown {
    49% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}


@keyframes move2 {
        0% {
            transform: rotate(1deg) translate(2px,2px)
        }
    
        50% {
            transform: rotate(-1deg) translate(-2px,-2px)
        }
    
        100% {
            transform: rotate(1deg) translate(2px,2px)
        }
    }